In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import KFold
from sklearn.model_selection import LeaveOneOut
dataset = pd.read_csv("/Users/anirudh/Desktop/MovieMetadata.csv")
print(dataset.shape)

(5043, 28)

In [2]:
dataset = dataset[['num_critic_for_reviews','director_facebook_likes','actor_1_facebook_likes','actor_2_facebook_likes','actor_3_facebook_likes','movie_facebook_likes','imdb_score']]
print(dataset.shape)

(5043, 7)

In [3]:
dataset.head()

,num_critic_for_reviews,director_facebook_likes,actor_1_facebook_likes,actor_2_facebook_likes,actor_3_facebook_likes,movie_facebook_likes,imdb_score
0,723.0,0.0,1000.0,936.0,855.0,33000,7.9
1,302.0,563.0,40000.0,5000.0,1000.0,0,7.1
2,602.0,0.0,11000.0,393.0,161.0,85000,6.8
3,813.0,22000.0,27000.0,23000.0,23000.0,164000,8.5
4,NaN,131.0,131.0,12.0,NaN,0,7.1

In [4]:
dataset.isnull().sum()

num_critic_for_reviews      50
director_facebook_likes    104
actor_1_facebook_likes       7
actor_2_facebook_likes      13
actor_3_facebook_likes      23
movie_facebook_likes         0
imdb_score                   0
dtype: int64

In [5]:
for i in dataset.columns:
    if dataset[i].isnull().sum()>0:
        dataset[i] = dataset[i].fillna(dataset[i].mean())
dataset.isnull().sum()

num_critic_for_reviews     0
director_facebook_likes    0
actor_1_facebook_likes     0
actor_2_facebook_likes     0
actor_3_facebook_likes     0
movie_facebook_likes       0
imdb_score                 0
dtype: int64

In [7]:
X = dataset.drop(['imdb_score'],axis=1).values
Y = dataset['imdb_score'].round().values
clf = MLPClassifier(hidden_layer_sizes=(5), solver='sgd', activation="logistic")

kf = KFold(n_splits=30)
for train_indices, test_indices in kf.split(X):
    clf.fit(X[train_indices], Y[train_indices])
    print(clf.score(X[test_indices], Y[test_indices]))

0.38461538461538464
0.3727810650887574
0.378698224852071
0.375
0.40476190476190477
0.2916666666666667
0.44642857142857145
0.27976190476190477
0.36904761904761907
0.43452380952380953
0.3392857142857143
0.30357142857142855
0.30952380952380953
0.3630952380952381
0.3630952380952381
0.3392857142857143
0.3630952380952381
0.34523809523809523
0.39880952380952384
0.34523809523809523
0.32142857142857145
0.30952380952380953
0.2916666666666667
0.30952380952380953
0.26785714285714285
0.3333333333333333
0.375
0.38095238095238093
0.3333333333333333
0.36904761904761907

In [11]:
from sklearn.model_selection import LeaveOneOut
loo = LeaveOneOut()

Y = dataset['imdb_score'].round()[0:100].values
X = dataset.drop(['imdb_score'],axis=1)[0:100].values
avg=0
for train_indices, test_indices in loo.split(X):
    clf.fit(X[train_indices], Y[train_indices])
    avg = avg + clf.score(X[test_indices], Y[test_indices])
print('Average accuracy score: ',avg/100)

/Users/anirudh/anaconda3/lib/python3.6/site-packages/sklearn/neural_network/multilayer_perceptron.py:564: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)

Average accuracy score:  0.29