In [1]:
x=[1,2,4,8,5]
y=[3,6,2,1,9]
import pandas as pd
df= pd.DataFrame({'X':x})
df['Y']=y
df

   X  Y
0  1  3
1  2  6
2  4  2
3  8  1
4  5  9

In [2]:
import matplotlib.pyplot as plt
plt.plot(df['X'],df['Y'],'ro')

In [3]:
covxy=df.cov()

In [4]:
cxy=covxy['X']['Y']
vx=covxy['X']['X']

In [5]:
beta=cxy/vx

In [6]:
mx=df['X'].mean()
my=df['Y'].mean()
alpha=my-beta*mx

In [7]:
alpha,beta

(5.266666666666667, -0.26666666666666666)