In [1]:
x=[13,56,78,34]
y=[34,56,89,98]
import pandas as pd
df= pd.DataFrame({'X':x})
df['Y']=y
df

    X   Y
0  13  34
1  56  56
2  78  89
3  34  98

In [2]:
import matplotlib.pyplot as plt
plt.plot(df['X'],df['Y'],'ro')

In [3]:
covxy=df.cov()

In [4]:
cxy=covxy['X']['Y']
vx=covxy['X']['X']

In [5]:
beta=cxy/vx

In [6]:
mx=df['X'].mean()
my=df['Y'].mean()
alpha=my-beta*mx

In [7]:
alpha,beta

(43.927486994373076, 0.5596135470856779)